.page-heading {
    font-weight: normal;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 50px;
}

.date {
    margin-bottom: 20px;
}

.footer  {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 900px) {
    .date {
        position: absolute;
        top: 0;
        left: 10px;
    }    
}